.form-field {
    position: relative;
    display: inline-block;
  }
  
  .icon {
    position: absolute;
    left: 15px;
    top:13px;
    color:white;
  }

 .top-right svg{
    font-size: 20px !important;
 }